extends layout

block content
	script(src='/js/cargarPeliculas.js')
	script(type='text/javascript').
		listarPeliculas(!{JSON.stringify(data)})

	h2(style='text-align: center') Seleccionar película:

	.container
		form.form-horizontal(role='form', action='ver', method='post')
			.form-group
				.col-md-4.col-md-offset-4
					select#listado.form-control(name='listado')
			.form-group
				.center-block
					button.btn.btn-default.center-block(type='submit') Ver críticas
